<div class="col-sm-5 all-conversations">
  <h3>All Conversations</h3>
  <div class="row">
    <% @conversations.each do |friend| %>
      <%= link_to user_path(friend), class: "card col-sm-12" do %>
        <%= image_tag friend[:user_image], class: "Card image cap profilePic" %>
        <div class="card-body">
          <p class="card-text">
            <%= "#{friend[:first_name]} #{friend[:last_name]}" %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
