<div class="col-sm-5 all-conversations">
  <br/>
  <h3>All Conversations</h3>
  <hr/>
  <div class="row ">
    <% @conversations.each do |friend| %>
      <%= link_to conversation_path(friend), class: "card col-sm-12 convo" do %>
        <%= image_tag friend[:user_image], class: "card image cap profilePic" %>
        <div class="card-body">
          <h4 class="card-text">
            <%= "#{friend[:first_name]} #{friend[:last_name]}" %>
          </h4>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
