<div class="screen">
  <%= render 'shared/navbar' %>

  <div class="container middle-content-fixed">
    <div class="row fullHeight">
      <%= render 'all_conversations' %>
      <div class="col-sm-7">
        <br/>
        <h3>Friend Face Messenger</h3>
        <hr/>
        <p>Choose from the list of friends that you have started a conversation on left.</p>
      </div>
    </div>
  </div>
</div>
