<div class="screen">
  <%= render 'shared/navbar' %>

  <div class="container middle-content-fixed">
    <div class="row">
      <%= render 'all_conversations' %>
      <div class="col-sm-7">
      </div>
    </div>
  </div>
</div>
