<div class="screen">
  <%= render 'shared/navbar' %>

  <div class="container middle-content-fixed">
    <div class="row fullHeight">
      <%= render 'all_conversations' %>
      <div class="col-sm-7">
        <br/>
        <h3>Friend Face Messenger</h3>
        <hr/>
        <p>Choose from the list of conversations that you are in from the list on the left, or start a new conversation with one of your friends!</p>
      </div>
    </div>
  </div>
</div>
