<% if not @relevant_user then @relevant_user = @user end%>
<div class="col-sm-10 offset-sm-1 profile">
  <div class="row">
    <%= image_tag @relevant_user[:user_image], class:"profilePic img-thumbnail"%>
    <div class="col-sm-9 profileInfo">
      <h3><%= "#{@relevant_user[:first_name]} #{@relevant_user[:last_name]}"%></h3>
    </div>
  </div>
</div>
