<div class="screen container-fluid">
  <%= render 'shared/navbar' %>
  <div class="container middle-content">
    <div class="mx-auto">
      <%= image_tag @user[:user_image], class: "img-thumbnail"%>
    </div>
  </div>
</div>
