<div class="container-fluid screen">
  <div class="row">
    <br/>
  </div>

  <div class="jumbotron">
    <h1 class="display-3">Welcome to Friend Face!</h1>
    <p class="lead">Friend Face is easily one of the coolest new social networking websites where you can connect with all those old friends that you're never really going to talk to any way.</p>
    <hr class="my-4"></p>
    <p class="lead">
      <%=link_to "Sign in", new_user_path, class: "btn btn-primary btn-lg"%>
      <br/>
      <%= link_to "Don't have an account? Sign up!", new_user_path %>
    </p>
  </div>
</div>
